@font-face {
  font-family: "Syne Mono";
  src: url(fonts/SyneMono-Regular.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  background-image: url(images/calcskin.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 853px;
  min-width: 1100px;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(6, 54px);
  grid-template-rows: minmax(91px, auto) repeat(2, 91px);
  position: relative;
  bottom: 3.5em;
  right: 2.3em;
  background-color: green;
}

button {
  background-color: rgb(35, 95, 35);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid greenyellow;
  outline: none;
  font-family: "Syne Mono";
  border-radius: 25px;
  color: wheat;
}

button:hover {
  background-color: rgb(70, 146, 60);
}

.outputScreen {
  display: flex;
  background-color: black;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  min-width: 350px;
  max-width: 350px;
  min-height: 250px;
  max-height: 250px;
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
  bottom: 6.5em;
  left: 2em;
  font-family: "Syne Mono";
}

.previousOperand {
  color: rgb(153, 255, 0);
  font-size: 25px;
}

.currentOperand {
  color: rgb(153, 255, 0);
  font-size: 40px;
}

.playButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 9.8em;
  left: 8.3em;
}

.playButton {
  display: block;
  background-color: rgb(255, 255, 255, 0%);
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}
